@font-face {
	font-family: 'TT Lakes Medium';
	src: url('../fonts/TTLakes-Medium.woff') format('woff2');
	src: url('../fonts/TTLakes-Medium.ttf') format('ttf');
}
@font-face {
	font-family: 'TT Lakes Regular';
	src: url('../fonts/TTLakes-Regular.woff') format('woff2');
	src: url('../fonts/TTLakes-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'TT Lakes Bold';
	src: url('../fonts/TTLakes-Bold.woff') format('woff2');
	src: url('../fonts/TTLakes-Bold.ttf') format('wttf');
}
@font-face {
	font-family: 'TT Lakes Condensed Medium';
	src: url('../fonts/TTLakesCondensed-Medium.woff') format('woff2');
	src: url('../fonts/TTLakesCondensed-Medium.ttf') format('wttf');
}
