.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  flex-shrink: 0;
  height: 40px;
  border-radius: 50%;
  background-color: $accent-color;
  transition: background-color 0.3s, border 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $hover-buttons-color;
    & svg {
      & path {
        fill: $accent-color;
        transition: $transition-fill;
      }
    }
  }
  &:active {
    background-color: $active--buttons-color;
  }
  & .icon {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: inherit;
    transition: color 0.3s;
  }
}
/* service button */
.service__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: $accent-color;
  border-radius: 16px;
  column-gap: 16px;
  padding: 4px 8px 4px 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  width: 119px;
  height: 32px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff;
  &--label {
    margin-left: a;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &:hover {
    color: $accent-color;
    background-color: $hover-buttons-color;
    transition: 0.5s;
    & svg {
      & path {
        fill: $accent-color;
        transition: $transition-fill;
        & span {
          color: black;
        }
      }
    }
  }
  &:active {
    background-color: $active--buttons-color;
  }
}
/*              burger button              */

.burger__lines {
  text-align: center;
  transition: all 0.25s ease-in-out;
  & > span {
    width: 20px;
    height: 2px;
    border-radius: 1px;
    display: block;
    margin: 5px;
    background-color: #fff;
  }
}
.burger__lines {
  & > span {
    transition: all 0.25s ease;
  }
  & > span:nth-child(3) {
    transform: scaleX(-1);
    margin-top: 0;
    float: right;
  }
  &:hover {
    & > span:nth-child(1),
    & > span:nth-child(3) {
      width: 8px;
    }
  }
}
