html {
	font-family: 'TT Lakes Medium', sans-serif;
	background-color: $background-color;
	font-size: 20px;
	overflow-x: hidden;
	color: $font-color-black;
	box-sizing: border-box;

	a {
		color: $font-color-black;
	}
}
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	/* color: inherit; */
	text-decoration: none;
	/* display: inline-block; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

input,
textarea,
button,
select {
	font-family: inherit;
	color: inherit;
	background-color: transparent;
}

body {
	background-color: $background-color;
	overflow-x: hidden;
}

.app {
	max-width: 1440px;
	margin: 0 auto;
}

.link {
	color: $accent-color;
}

.main {
	display: flex;
	flex-direction: row;

	&__section {
		display: flex;
		flex-direction: column;
		position: relative;
		min-width: 320px;

		&--title {
			color: $font-color-black;
			padding: 0px 16px 0px 16px;
			min-width: 320px;
			margin-top: calc(24px + 80px);
			position: relative;
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 40px;
			letter-spacing: -0.6px;
			cursor: default;

			@media (min-width: $tablet-width) {
				padding-left: 20px;
			}

			@media (min-width: $desktop-width) {
				margin-top: 0;
			}

			&::before {
				content: '';
				width: 4px;
				height: 40px;
				background-color: $indicator-color;
				position: absolute;
				top: 0;
				left: 0px;
				border-radius: 0px 5px 5px 0px;
			}
		}

		&--top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			align-items: center;
			margin-top: 24px;

			&--buttons {
				display: none;
				margin-right: 30px;

				& .top__buttons--label {
					font-size: 16px;
					letter-spacing: -0.2px;
				}

				@media (min-width: $desktop-width) {
					display: flex;
					gap: 32px;

					& .repair__button {
						display: flex;
						align-items: center;
						white-space: nowrap;
						gap: 8px;
						cursor: pointer;

						&:hover {
							& > .repair__button--label {
								color: $accent-color;
								transition: $transition-font-color;
							}

							& > button {
								background-color: $hover-buttons-color;

								& path {
									fill: $accent-color;
									transition: $transition-fill;
								}
							}
						}
					}

					& .check-status__button {
						position: relative;
						display: flex;
						align-items: center;
						white-space: nowrap;
						gap: 8px;
						cursor: pointer;

						&:hover {
							& > .check-status__button--label {
								color: $accent-color;
							}

							& > button {
								background-color: $hover-buttons-color;

								& path {
									fill: $accent-color;
									transition: $transition-fill;
								}
							}
						}
					}
				}
			}
		}
	}

	&__menu--slider {
		padding: 0 16px;
		margin-top: 24px;
		display: flex;
		align-items: center;
		font-size: 14px;
		position: relative;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 0;
		}
		@media (min-width: $tablet-width) {
			padding: 0 24px;
		}

		@media (min-width: $desktop-width) {
			justify-content: start;
			flex-wrap: wrap;
		}

		&--item {
			padding: 0px;
			display: flex;
			justify-content: center;
			white-space: nowrap;
			align-items: center;
			color: $font-color-light-gray;
			transition: 2s;

			&-label {
				padding: 8px 16px;
				border: 3px solid transparent;
				font-size: 16px;
				cursor: pointer;
				&:hover {
					border: 3px solid $hover-buttons-color;
					border-radius: 6px;
					background-color: $white-color;
					transition: background-color 1s, border 1s;
				}
			}
		}

		&-radio-button {
			appearance: none;
			display: none;

			&:checked {
				+ {
					.main__menu--slider--item-label {
						background: $white-color;
						border-radius: 6px;
						box-sizing: border-box;
						border: 3px solid $additional-color;
					}
				}
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;

		@media (min-width: $tablet-width) {
			display: flex;
			margin-left: 24px;
			flex-direction: row;
			margin-top: 16px;
		}

		&--slider-item {
			font-size: 0.7rem;
			line-height: 18px;
			letter-spacing: 0.2px;
			color: $font-color-black;
			padding: 0 16px;
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&--main-text {
			text-overflow: clip;
			white-space: wrap;
			width: auto;
			overflow: hidden;
			height: auto;

			@media (min-width: $tablet-width) {
				text-overflow: clip;
				white-space: wrap;
				overflow: auto;
			}
		}

		&--read-more {
			padding: 0px 16px 16px 0px;
			column-gap: 8px;
			display: flex;
			align-self: flex-start;
			color: $white-color;
			align-items: center;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;

			&:hover {
				& > .read-more--label {
					color: $accent-color;
					transition: $transition-font-color;
				}

				& svg {
					transform: skew(35deg);
				}
			}

			&:active {
				& > .read-more--label {
					color: $black-color;
					transition: $transition-font-color;
				}
			}
		}
	}

	&__picture {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		width: auto;
		margin: 0 auto;

		@media (min-width: $tablet-width) {
			min-width: 360px;
			border-radius: 100px;

			&--png {
				border-radius: 10px;

				@media (min-width: $desktop-width) {
				}
			}
		}
	}

	& .content-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		color: $font-color-light-gray;
		padding: 16px;
		border-top: 1px solid $additional-color;
		background: linear-gradient(90deg, $background-color 1.39%, $white-color 100%);
	}

	& .commercial {
		font-family: 'TT Lakes';
		font-style: normal;
		font-weight: 400;
		font-size: 0.7rem;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $font-color-black;
		padding: 0 16px;

		@media (min-width: $tablet-width) {
			margin-top: 24px;
			margin-right: 40%;
		}

		@media (min-width: $desktop-width) {
			margin-right: 59%;
		}

		&__info {
			margin-top: 24px;
			display: flex;
			align-items: center;
			margin-bottom: 40px;

			&--link {
				color: $font-color-black;
				font-family: 'TT Lakes';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: -0.2px;

				&:hover {
					color: $accent-color;
					transition: $transition-font-color;
				}
			}
		}

		.info__link--arrow {
			margin-left: 8px;
		}
	}
}

.sidebar {
	position: fixed;
	overflow: auto;
	min-width: 320px;
	display: flex;
	z-index: 20;
	justify-content: space-between;
	flex-direction: column;
	background-color: $white-color;
	left: -100%;
	visibility: hidden;
	@media (min-width: $desktop-width) {
		display: flex;
		left: 0;
		position: relative;
		visibility: visible;
	}

	&__navigation {
		width: 100vw;
		height: 100vh;
		background-color: $white-color;
		position: fixed;
		display: flex;
		flex-direction: column;

		@media (min-width: $tablet-width) {
			width: 320px;
			background: #ffffff;
			box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
		}

		@media (min-width: $desktop-width) {
			box-shadow: unset;
		}

		&--top {
			display: flex;
			align-items: center;
			min-width: 320px;
			padding: 24px 16px;
			max-height: 88px;
			gap: 16px;
			justify-content: space-between;

			@media (min-width: $desktop-width) {
				& > :first-child {
					display: none;
				}
			}
		}

		&--main {
			padding-left: 24px;
			font-size: 0.8rem;
			align-content: baseline;
			line-height: 24px;
			letter-spacing: -0.2px;
			color: $font-color-black;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			flex-grow: 1;
			overflow: auto;
		}

		&--link {
			display: flex;
			flex-direction: column;
			font-style: normal;
			font-weight: 500;
			font-size: 0.8rem;
			line-height: 24px;
			letter-spacing: -0.2px;
			position: relative;
			color: $font-color-black;
			padding: 16px 0px;

			&::before {
				position: absolute;
				content: '';
				top: 10px;
				left: -22px;
				height: 30px;
				width: 4px;
				border-radius: 3px;
				opacity: 0;
				background-color: #41f6d7;
			}

			&:hover {
				&::before {
					opacity: 1;
					transition: 0.3s;
					background-color: $accent-color;
				}

				color: #7e7e82;
			}
		}

		&--contacts {
			display: flex;
			flex-direction: column;

			&--mail {
				margin-top: 16px;

				& .mailto {
					&:hover {
						color: $accent-color;
						transition: color 0.3s;
					}
				}
			}

			&--phone {
				margin-top: 12px;

				& .tel {
					font-weight: 700;
					font-size: 24px;

					&:hover {
						color: $accent-color;
						transition: color 0.3s;
					}
				}
			}

			&--lang {
				display: flex;
				justify-content: flex-start;
				column-gap: 7px;
				margin-top: 40px;

				& .lang-item {
					&:hover {
						color: $font-color-light-gray;
						transition: color 0.3s;
					}
				}
			}

			&--buttons {
				display: flex;
				justify-content: flex-start;
				position: relative;
				gap: 16px;
			}
		}
	}

	&--link {
		&:hover {
			color: #7e7e82;
			transition: color 0.3s;
		}
	}
}

.active::before {
	opacity: 1;
	background-color: #41f6d7;
}

.active {
	color: #7e7e82;
}

.sidebar__open {
	position: fixed;
	left: 0;
	opacity: 1;
	visibility: visible;
	height: 100vh;

	@media (min-width: $desktop-width) {
		left: 0;
		width: unset;
	}

	@media (min-width: $desktop-width) {
	}
}

.service-cost__stacked--slider {
	margin: 24px;
	border-radius: 6px;
	border-collapse: collapse;
	display: none;

	@media (min-width: $tablet-width) {
		display: table;
	}
}

.service-cost__stacked--label {
	text-align: left;
	font-size: 14px;
	padding: 24px;
}

.service-cost__item {
	font-size: 16px;
	padding: 24px;
	text-align: left;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
}

.service-cost__row {
	position: relative;

	&::after {
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		bottom: 0;
		right: 16px;
		left: 16px;
		background: #eaeaea;

		&:last-child::after {
			display: none;
		}
	}
}

.last {
	&::after {
		display: none;
	}
}

.service-cost__body {
	position: relative;
	box-shadow: 0 0 0 2px $white-color;
	border-radius: 6px;
	background-color: $white-color;
	vertical-align: middle;
}
